<div class="container">
		<section>
			<br>
			<div class="col-lg-12 col-md-12 col col-sm-12 col-xs-12">
				<h3 class="text-center">
					<img src="/img/Empresa.png" alt="Icon_EvoHR_Empresa"><br><br>
					Información de Empresa
				</h3>
				<br>
			</div>
			<div class="clear"></div>
			<br><br><br>
			<div class="clear"></div>

			<div class="col-lg-12">
				<form name="formEmpresa" enctype="multipart/form-data" role='form'>
					<div class="form-group">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<img ng-show="mostrarBtnActualizar" class="thumbnail center-block fotoperfil" src="/empresa/{{empresa.id}}.jpg" alt="empresa_EVoHR">
							<input type="file" class="form-control" name="logo" multiple accept="image/*" id="avatar-upload"  file-model="empresa.logo">
						</div>
						<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
							<div class="conten-border">
								<br>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
										<label for="razonSocial" class="control-label">Razón Social</label>
                						<input name='razonSocial' type="text" class='form-control' ng-model="empresa.razonSocial" placeholder="Razón Social" required=""> <br>
		
                						<label for="direccion" class="control-label">Dirección</label>
										<input type="text" class="form-control" id="direccion" name="direccion" required="" ng-model="empresa.direccion" placeholder="Calle Real No. 45 -63"> <br>

										<label for="correoElectronico" class="control-label">Correo Electrónico</label>
										<input type="email" class="form-control" id="correoElectronico" name="correoElectronico" placeholder="correoempresa@mail.com"  ng-model="empresa.correoElectronico"  required>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
										<label for="nit" class="control-label">NIT</label>
										<!-- ng-pattern="/\n# $&:\n\t/" -->
										<input type="text" class="form-control" id="nit" name="nit" required ng-model="empresa.nit" placeholder="102464056-1" ng-pattern="/([0-9]){9}(-)([0-9])/" required> <br>

										<label for="telefono" class="control-label">Teléfono</label>
										<input type="text" class="form-control" id="telefono" name="telefono" placeholder="300 000 000 "  ng-model="empresa.telefono" ng-pattern="/^[0-9]{1,7}$/" required> <br>

										<label for="paginaweb" class="control-label">Página Web</label>
										<input type="text" class="form-control" id="paginaweb" name="paginaweb" placeholder="www.miempresa.com" ng-model="empresa.paginaweb" ng-pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \?=.-]*)*\/?$/">
									</div>
								</div>
								<div class="clearfix"></div>
								<br><br>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<br><br>
									<span ng-show="formEmpresa.telefono.$error.pattern">El Teléfono lleva valores númericos!</span>
    								<span ng-show="formEmpresa.telefono.$error.required">El campo Teléfono es requerido!</span>
    								<span ng-show="formEmpresa.correoElectronico.$error.email">Correo Electrónico Inválido!</span>
    								<span ng-show="formEmpresa.correoElectronico.$error.required">El campo Correo Electrónico es requerido!</span>
    								<span ng-show="formEmpresa.paginaweb.$error.pattern">Página web inválida!</span>
    								<span ng-show="formEmpresa.nit.$error.pattern">El NIT debe llevar este formato 123456789-2!</span>
    								<span ng-show="formEmpresa.nit.$error.required">El NIT es requerido!</span><br>

									<button class="col-xs-3 col-sm-3 col-md-3 col-lg-3 btn btn-search pull-right"  ng-click="guardarEmpresa()" ng-show="mostrarBtnGuardar" ng-disabled="formEmpresa.$invalid" style="width:initial;">Guardar
									</button> &nbsp;
									<button ng-click="actualizarEmpresa(empresa.id)"  ng-show="mostrarBtnActualizar" type="submit" style="width:initial;" class='col-xs-3 col-sm-3 col-md-3 col-lg-3 btn btn-search pull-right' ng-disabled="formEmpresa.$invalid">Actualizar</button>
									<button class="col-xs-3 col-sm-3 col-md-3 col-lg-3 btn btn-cancelar pull-right" ng-click="Cancelar()" style="width:initial;">
										Cancelar
									</button>
								</div>
								<div class="clearfix"></div>
								<br>
							</div>
						</div>
					</div>
				</form>
			</div>
			<br><br>
			<div class="clearfix"></div>
			<br>
			<br>
			<br>
			<div class="clearfix"></div>
		</section>
</div>
