<div class="container">
	<section>
			<br>
			<div class="col-lg-6 col-md-6 col col-sm-12 col-xs-12">
				<h3>
					<img src="/img/Registro.png" alt="Icon_EvoHR">&nbsp; Registrar y Actualizar Usuario
				</h3>
			</div>
			<div class="col-lg-6 col-md-6 col col-sm-12 col-xs-12">
				<br>
				<a ng-href="#!/contratoUsuario/{{usuarios.id}}" ng-show="btnCrearContrato">
					<button type="button" class="btn btn-crear pull-right" aria-label="Left Align">
					  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Crear Contrato
					</button>
				</a>
				<a ng-href="#!/actualizarContratoUsuario/{{usuarios.id}}/{{idContrato}}" ng-show="btnActualizarContrato">
					<button type="button" class="btn btn-crear pull-right" aria-label="Left Align">
					  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Actualizar Contrato
					</button>
				</a>
			</div>
			<div class="clearfix"></div>
			<br><br>

			<form name="formRegistro" enctype="multipart/form-data" id="formRegistro">
				<div class="form-group">
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
						<img ng-show="mostrar_actualizar" class="thumbnail center-block fotoperfil" src="http://107.170.78.97/evoHR/userFace/{{usuarios.id}}.jpg" alt="empleado_EVoHR_{{usuarios.primerNombre + usuarios.primerApellido}}">
						<input type="file" class="form-control" name="foto" multiple accept="image/*" id="avatar-upload"  file-model="usuarios.foto" >
					</div>
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
						<div class="conten-border" style="padding-left:15px; padding-right:15px">
							<br>
							<fieldset>
								<legend>Datos del Empleado</legend>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
												<label for="primerNombre" class="control-label">Primer Nombre</label> <span class="errorVal" ng-show=" formRegistro.primerNombre.$error.required || formRegistro.primerNombre.$error.pattern"> &nbsp;El primer nombre es requerido y solo acepta texto!</span>
											    <input type="text" class="form-control" id="primerNombre" name="primerNombre" placeholder="Jorge" ng-model="usuarios.primerNombre" required=""  ng-pattern="/^[a-zA-Z ]*$/"> <br>


											    <label for="primerApellido" class="control-label">Primer Apellido</label> <span class="errorVal" ng-show=" formRegistro.primerApellido.$error.required || formRegistro.primerApellido.$error.pattern">&nbsp;El primer apellido es requerido y solo acepta texto!</span>
												<input type="text" class="form-control" id="primerApellido" name="primerApellido" placeholder="Santo" ng-model="usuarios.primerApellido" required=""  ng-pattern="/^[a-zA-Z ]*$/"><br>

												<label for="tipoIdentificacion">Tipo de Identificación</label>
											    <select class="form-control" id="tipoIdentificacion" name="tipoIdentificacion" ng-model="usuarios.tipoIdentificacion">
											    	  <option value>Escoja su tipo de Identificación</option>
												      <option value="CC">C.C</option>
												      <option value="NIT">NIT</option>
												      <option value="TI">TI</option>
												      <option value="Pasaporte">Pasaporte</option>
												      <option value="CE">CE</option>
												</select> <br>

												<label for="fch_nacimiento" class="control-label">Fecha de Nacimiento</label>
												<input type="date" class="form-control" id="fch_nacimiento" name="fch_nacimiento"  ng-model="usuarios.fch_nacimiento">
											</div>
											<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
												<label for="segundoNombre" class="control-label">Segundo Nombre</label> <span class="errorVal" ng-show=" formRegistro.segundoNombre.$error.pattern"> &nbsp;El segundo nombre solo acepta texto!</span>
												<input type="text" class="form-control" id="segundoNombre" name="segundoNombre" placeholder="Mario"  ng-model="usuarios.segundoNombre" ng-pattern="/^[a-zA-Z ]*$/">
												<br>

												<label for="segundoApellido" class="control-label">Segundo Apellido</label> <span class="errorVal" ng-show=" formRegistro.segundoApellido.$error.pattern"> &nbsp;El segundo apellido solo acepta texto!</span>
												<input type="text" class="form-control" id="segundoApellido" name="segundoApellido" placeholder="Domingo"  ng-model="usuarios.segundoApellido" ng-pattern="/^[a-zA-Z]*$/"><br>

												<label for="identificacion" class="control-label">Identificación</label> <span class="errorVal" ng-show=" formRegistro.identificacion.$error.required || formRegistro.identificacion.$error.pattern"> &nbsp;La identificación es requerida y solo acepta números!</span>
												<input type="text" class="form-control"  id="identificacion" name="identificacion" placeholder="1140526326" ng-model="usuarios.identificacion" ng-pattern="/^[0-9]*$/" required="">
												<br>

												<label for="sexo" class="control-label">Sexo</label>
												<div class="radio">
											      	<label><input type="radio" ng-value="'F'" name="sexo" ng-model="usuarios.sexo">Femenino</label>
											      <label><input type="radio" ng-value="'M'" name="sexo" ng-model="usuarios.sexo">Masculino</label>
											  	</div>
											</div>
										</div>
									</div>
									<div class="clearfix"></div>
									<br><br>
								<legend>Información de Contacto</legend>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
												<label for="direccion" class="control-label">Dirección</label>
												<input type="text" class="form-control" id="direccion" name="direccion" placeholder="Calle Real No. 12-34" required ng-model="usuarios.direccion">
												<br>
												<label for="celular" class="control-label">Celular</label> <span class="errorVal" ng-show="formRegistro.celular.$error.pattern"> &nbsp;El celular solo acepta números!</span>
												<input type="text" class="form-control" id="celular" name="celular" placeholder="300 000 0000" ng-pattern="/^[0-9]*$/" ng-pattern="/^[0-9]*$/"  ng-model="usuarios.celular">
												<br>
												<label for="contrasena" class="control-label">Contraseña</label>
												<input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="********" required ng-model="usuarios.contrasena">
											</div>
											<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
												<label for="telefono" class="control-label">Teléfono</label> <span class="errorVal" ng-show="formRegistro.telefono.$error.pattern"> &nbsp;El teléfono solo acepta números!</span>
												<input type="text" class="form-control" id="telefono" name="telefono" placeholder="3448801" ng-pattern="/^[0-9]*$/"  ng-model="usuarios.telefono">
												<br>
												<label for="correoElectronico" class="control-label">Correo Eléctronico</label> <span class="errorVal" ng-show=" formRegistro.correoElectronico.$error.required || formRegistro.correoElectronico.$error.pattern"> &nbsp;Correo electrónico no válido!</span>
												<input type="email" class="form-control" id="correoElectronico" name="correoElectronico" ng-pattern="/^[_a-z0-9-]+(.[_a-z0-9-]+)*@[a-z0-9-]+(.[a-z0-9-]+)*(.[a-z]{2,4})$/" placeholder="mail@correoElectronico.com" required="" ng-model="usuarios.correoElectronico">
											</div>
										</div>
									</div>
									<div class="clearfix"></div>
									<br>
							</fieldset>
							<br>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<button ng-show="mostrar_registrar" class="btn btn-search pull-right" ng-click="RegistrarUsuario()" style="width:initial;" ng-disabled="formRegistro.$invalid">
									Guardar
								</button> &nbsp;
								<button ng-show="mostrar_actualizar" class="btn btn-search pull-right" type="submit"  style="width:initial;" ng-click="ActualizarUsuario()" ng-disabled="formRegistro.$invalid">
									Actualizar
								</button> &nbsp;
								<a href="#!/empleados">
									<button class="btn btn-cancelar pull-right" ng-click="Cancelar()">
										Cancelar
									</button>
								</a>
							</div>
							<div class="clearfix"></div>
							<br>
						</div>
					</div>
				</div>
			</form>
			<div class="clearfix"></div>
			<br><br>
	</section>
</div>
