
<div class="panel panel-busqueda row">
	<div class="container">
			<div class="col-lg-12">
				<div class="col-lg-3 col-md-3">
					<select class="form-control" ng-model="ausencia.tipoBusqueda">
					  <option value> Criterio de Búsqueda</option>
					  <option value="date">Fecha de Creación</option>
					  <option value="employee">Empleado</option>
					</select>
				</div>
				<div class="col-lg-3 col-md-3">
					<div class="has-feedback">
					  <input type="text" class="form-control" id="inputSuccess2" ng-model="ausencia.keyword" placeholder="Palabras Claves">
					  <span class="form-control-feedback" aria-hidden="true"></span>
					</div>
				</div>
				<div class="col-lg-3 col-md-3">
					<button class="btn btn-search" ng-click="buscarRegistro(ausencia.tipoBusqueda,ausencia.keyword)">Buscar</button>
				</div>
			</div>
	</div>
</div>
<div class="container">
	<div class="clearfix"></div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<h3>
				<img src="/img/Ausencias.png" width="9%" alt="Icon_EvoHR">&nbsp; Ausencias Registradas
			</h3>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-click="clickRegistrar()">
			<button type="button" class="btn btn-crear pull-right" aria-label="Left Align" style="margin-top:6%;" data-toggle="modal" data-target="#myModal">
				  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Crear Ausencia
			</button>
		</div>
	<br><br>
	<div class="modal fade" id="myModal" role="dialog">
	    <div class="modal-dialog">
	      <!-- Modal content-->
	      	<div class="modal-content">
	        	<div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title text-center"> <img src="/img/Aus.png" width="40" alt="EvoHR_Ausencias"> Detalle de Ausencia</h4>
	        	</div>
	        	<div class="modal-body">
	         	<form role="form" name="formAus" enctype="multipart/form-data" id="formAus">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="form-group">
							    <label for="input_empleado">Empleado</label>
							    <input type="text" class="form-control validate" id="input_empleado" placeholder="Ingrese el nombre del empleado" name="empleado" ng-model="ausencia.nombreEmpleado">
							</div>

							<div class="form-group">
							    <label for="">Tiempo de Ausencia</label>

							    <div class="clearfix"></div>
							     <br>
							    <div class="col-xs-6">
							    	<label for="horaInicio">Inicia</label>
							    	<input type="time" class="pull-left validate" width="50" name="horaInicio" id="horaInicio" ng-model="ausencia.horaInicio">
							    </div>
							    <div class="col-xs-6">
							    	<label for="horaFin">Fin</label>
							    	<input type="time" class="pull-right validate" width="50" name="horaFin" id="horaFin" ng-model="ausencia.horaFin">
							    </div>
							</div>

							<div class="form-group">
							    <label for="">Fecha de Suceso</label>
							    <input type="date" name="fechaSuceso" class="pull-right validate" placeholder="Ingrese fecha del suceso" ng-model="ausencia.fechaSuceso">
							</div>

							<div class="form-group">
							    <label for="">Tipo de Ausencia</label>
							    <select class="form-control validate" id="tipo" name="tipo" ng-model="ausencia.tipo">
								  <option value>Escoge un tipo de ausencia</option>
								  <option>Motivo Familiar</option>
								  <option>Cita Médica</option>
								  <option>Vacaciones</option>
								  <option>Otros</option>
								</select>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="form-group" ng-class="{'has-error': formAus.descripcion.$invalid, 'has-success': formAus.descripcion.$valid}">
							    <label for="ejemplo_password_1">Descripción</label><br>
							    <textarea class="form-control validate" cols="10" rows="10" placeholder="Detalle de Ausencia" required ng-model="ausencia.descripcion" rows="5"></textarea>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="form-group">
							    <label for="ejemplo_archivo_1">Soporte</label>
							    <br>
							    <label for="soporte" class="btn" id="support"><i class="fa fa-paperclip" aria-hidden="true"></i></label>
  								<input  style="visibility:hidden;" type="file" name="soporte" multiple accept="image/*"  id="soporte" file-model="ausencia.soporte">
							</div>
						</div>
					</div>
				    <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal" id="btn_cancelar_modal">Cancelar</button>
				      	<button type="submit" class="btn btn-default" ng-click="Registrar()" id="btn_enviar_modal">Enviar</button>
				    </div>
				</form>
		      </div>
	    	</div>
  		</div>
  	</div>
	<div class="clearfix"></div>
	<div class="row">
		<div class="clearfix"></div>
		<br>
  		<div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
    </div>
	<br>
    <br>
    <br>
    <div class="clearfix"></div>
    <br>
    <br>
    <br>
</div>

<script>
	$(document).ready(function(){
		// Notifica en pantalla el mensaje
		$('.validate').on('blur', function(){
			if ($(this).val()=="") {
				alertify.error('No puedes dejar este campo vacio.');
				$(this).focus();
			}
		});
		// autompletado entre jquery con node
		$("#input_empleado").autocomplete({
        minLength: 1,
				source: function(req, res){
					$.ajax({
							type: 'POST',
							data: {'nombre': $("#input_empleado").val()},
							dataType: 'json',
							cache: false,
							url: "/autocomplete/empleado",
							success: function(data){
								res( $.map( data, function( item ) {
										return {
												label: item.primerNombre,
												value: item.primerNombre,
												id: item.id
										}
								}));
							}
					});
				},
        select: function(e, ui){
					localStorage.setItem('idEmpleado', ui.item.id);
        }
    });
		$('#btn_enviar_modal').click(function(e){
			$('#btn_cancelar_modal').click();
		});
	});
</script>
